<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>选课系统管理员界面</title>
	</head>
	<link rel="stylesheet" href="../../css/bootstrap.css" />
	<link rel="stylesheet" href="../../icon/css/font-awesome.css" />
	<link rel="stylesheet" href="../../css/buttons.css" />
	<script type="text/javascript" src="../../js/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.bundle.js"></script>
	<script type="text/javascript" src="../../js/angularjs/angular.js"></script>
	<script type="text/javascript" src="../../js/angularjs/plugins/angular-ui-router.js"></script>
	<script type="text/javascript" src="../../js/angularjs/plugins/angular-toastr/angular-toastr.js"></script>
	<script type="text/javascript" src="../../js/angularjs/plugins/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="../../js/app.js"></script>
	<script type="text/javascript" src="../../js/jsController/managerIndexController.js"></script>

	<style type="text/css">
		a {
			color: #818182;
		}
		
		.bgr {
			background: url(../../img/bg.jpg) no-repeat fixed;
			background-size: 100% 100%;
			width: 100%;
			height: 100%;
		}
	</style>

	<body class="bgr" ng-app="app" ng-controller="managerIndexController">
		<table width="100%" border="1" cellspacing="0" cellpadding="0">
			<tr style="height: 1000px;">
				<td width="200" valign="top">
					<div class="card img-thumbnail" style="width: 250px; height: 1000px;">
						<img class="card-img-top img-thumbnail" src="../../img/07-niutuku.com-324.jpg" style="width: 240px; height: 170px;" />
						<div id="menu" class="card-body">
							<h4 class="card-title">Welcome!</h4>
							<p class="card-text">
								Manager -- <span>{{manager.managerName}} </span>
							</p>
								<span class="button-wrap">
                                   <a class="button button-pill " href="dept/deptList.html" target="display"><i class="fa fa-table"></i>系部列表</a>
                                 </span>
								<span class="button-wrap">
                                  <a class="button button-pill "" href="major/majorList.html" target="display"><i class="fa fa-table"></i>专业列表</a>
                                 </span>
								<span class="button-wrap">
                                   <a class="button button-pill " href="student/studentList.html" target="display"><i class="fa fa-table"></i>学生列表</a>
                                 </span>
								<span class="button-wrap">
                                   	<a class="button button-pill " href="teacher/teacherList.html" target="display"><i class="fa fa-table"></i>教师列表</a>
                                 </span>
								<span class="button-wrap">
                                   <a class="button button-pill " href="course/courseList.html" target="display"><i class="fa fa-table"></i>课程列表</a>
                                 </span>
						</div>
						<div class="card-body">
							<h4 class="card-title">选课开关</h4>
							<p class="card-text"></p>
							<span class="button-wrap" ng-if="control.selectCourse==true">
                            <button ng-click="controlSelect(false)" class="button button-pill button-caution" ><i class="fa fa-power-off"></i></button>
                            <label>开启中</label>
                            </span>
							<span class="button-wrap" ng-if="control.selectCourse==false">
							<label>已关闭</label>
                            <button ng-click="controlSelect(true)"  class="button button-pill button-raised button-primary" ><i class="fa fa-power-off"></i></button>
                            </span>
						</div>
						<div class="card-body">
							<h4 class="card-title">录入成绩开关</h4>
							<p class="card-text"></p>
							<span class="button-wrap" ng-if="control.inputGrade==true">
                              <button ng-click="controlInputGrade(false)"   class="button button-pill button-caution" ><i class="fa fa-power-off"></i></button>
                              <label>开启中</label>
                            </span>
							<span class="button-wrap" ng-if="control.inputGrade==false">
							<label>已关闭</label>
                            <button ng-click="controlInputGrade(true)"  class="button button-pill button-raised button-primary" ><i class="fa fa-power-off"></i></button>
                            </span>
						</div>
						<div class="card-body"></div>
					</div>
				</td>
				<td valign="top" align="left">
					<table width="100%" border="1" cellspacing="0" cellpadding="0">
						<tr height="100">
							<td align="center" style="font-family: 楷体; font-size: 50px;">欢迎登录管理员选课系统</td>
						</tr>
						<tr height="900">
							<td><iframe name="display" frameborder="no" width="100%" height="900"></iframe></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

	</body>

</html>